In [ ]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 22, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Miami']}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   35        Chicago
4      Eva   28          Miami

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'A': [0,1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e','f']}
df = pd.DataFrame(data)

# Display the first 5 rows of the DataFrame
df_head = df.head()
print(df_head)

   A  B
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [ ]:
import pandas as pd

# Create a Series
data = [1,2,3,4,5,6,7,8,9,10, 20, 30, 40, 50,60,70,80,90,100]
series = pd.Series(data)

# Display the last 5 elements of the Series
series_tail = series.tail()
c=series.count()
s=series.sum()
m1=series.mean()
m2=series.median()
m3=series.mode()
std=series.std()
min=series.min()
max=series.max()
ab=series.abs()
p=series.prod()
cm=series.cumsum()
cp=series.cumprod()
print("Sum: ",s)
print("Count: ",c)
print("Mean: ",m1)
print("Median: ",m2)
print("Mode: ",m3)
print("Std Dev: ",std)
print("Minimum: ",min)
print("Maximum: ",max)
print("Abs val: ",ab)
print("Product: ",p)
print("Cum Sum: ",cm)
print("Cum Product: ",cp)
print(series_tail)
series.describe()

Sum:  595
Count:  19
Mean:  31.31578947368421
Median:  10.0
Mode:  0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     20
11     30
12     40
13     50
14     60
15     70
16     80
17     90
18    100
dtype: int64
Std Dev:  33.459847631284454
Minimum:  1
Maximum:  100
Abs val:  0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     20
11     30
12     40
13     50
14     60
15     70
16     80
17     90
18    100
dtype: int64
Product:  -2785828628619853824
Cum Sum:  0       1
1       3
2       6
3      10
4      15
5      21
6      28
7      36
8      45
9      55
10     75
11    105
12    145
13    195
14    255
15    325
16    405
17    495
18    595
dtype: int64
Cum Product:  0                       1
1                       2
2                       6
3                      24
4                     120
5                     720
6                    5040
7                   40320
8                  362880
9                 3628800
10               72576000
11             2177280000
12            87091200000
13          4354560000000
14        261273600000000
15      18289152000000000
16    1463132160000000000
17    2554685884033138688
18   -2785828628619853824
dtype: int64
14     60
15     70
16     80
17     90
18    100
dtype: int64

count     19.000000
mean      31.315789
std       33.459848
min        1.000000
25%        5.500000
50%       10.000000
75%       55.000000
max      100.000000
dtype: float64